<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>open-outlook-event-links</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0CDDAB4B-2887-4D3E-83D8-0C51A7A8A3D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>914AFBDF-4545-496C-AD45-9AD1495016B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1217D517-1403-4578-8F82-AC5EEF55F966</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C46C915-4508-4021-B1F6-F6011AB5F2F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C46C915-4508-4021-B1F6-F6011AB5F2F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA7A7717-A9A4-49A1-A5F0-7FA365E7CE12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE445CD6-DA30-43A4-B0E7-9609CEE33461</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>751F88ED-0D10-4C40-9B5F-A3E4A9189C61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yuta Wada</string>
	<key>description</key>
	<string>Lists upcoming events in Outlook and allows users to open links contained within an event by selecting it.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Outlook Event Links</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ool</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node dist/entrypoints/listEvents.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open Outlook Event Links</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0CDDAB4B-2887-4D3E-83D8-0C51A7A8A3D8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>914AFBDF-4545-496C-AD45-9AD1495016B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ool</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node dist/entrypoints/updateCalendarViewResponseCache.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Update Calendar View Response Cache</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3063272C-B7FC-43D9-AC0C-890B10D10E2F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node dist/entrypoints/setAccessToken.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8C46C915-4508-4021-B1F6-F6011AB5F2F6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ooa</string>
				<key>subtext</key>
				<string>Open Outlook Event Links</string>
				<key>text</key>
				<string>Set Access Token</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1217D517-1403-4578-8F82-AC5EEF55F966</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node dist/entrypoints/updateCalendarViewResponseCache.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AA7A7717-A9A4-49A1-A5F0-7FA365E7CE12</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ood</string>
				<key>subtext</key>
				<string>Open Outlook Event Links</string>
				<key>text</key>
				<string>Logout</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BE445CD6-DA30-43A4-B0E7-9609CEE33461</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node dist/entrypoints/logout.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>751F88ED-0D10-4C40-9B5F-A3E4A9189C61</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0CDDAB4B-2887-4D3E-83D8-0C51A7A8A3D8</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>1217D517-1403-4578-8F82-AC5EEF55F966</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>3063272C-B7FC-43D9-AC0C-890B10D10E2F</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>751F88ED-0D10-4C40-9B5F-A3E4A9189C61</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>8C46C915-4508-4021-B1F6-F6011AB5F2F6</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>914AFBDF-4545-496C-AD45-9AD1495016B6</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>AA7A7717-A9A4-49A1-A5F0-7FA365E7CE12</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>BE445CD6-DA30-43A4-B0E7-9609CEE33461</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>USE_ACCESS_TOKEN_DIRECTLY</key>
		<string>1</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/ywada526/alfred-open-outlook-event-links</string>
</dict>
</plist>
